/* ensure the body takes the full viewport height */
body {
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}


/* define the top-nav */
.top-nav {
    background-color: #478c48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    font-size: 1.5em;
}

/* define the brand */
.brand {
    color: white;
    margin: auto;
}

/* define the top right menu bar */
.menu-right {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* define the top-button */
.top-button {
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    margin: 2px 0;
    cursor: pointer;
    color: #004d40;
}

/* define the welcome slogan */
.welcome-text {
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: auto;
    padding-left: 5%;
}

.welcome-text h1 {
    font-size: 2em;
    color: #535353;
}

.welcome-text p {
    font-size: 1.5em;
    color: #535353;
}

/* wrapper for both menu and profiles grids */
.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

/* create the profiles grid */
.grid-container-profiles {
    width: 50vw;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

/* define the profiles */
.user-profile {
    margin: 5px;
}

/* define the photos used in profiles */
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* define the position of user profiles */
#user-profile-1 {
    grid-column: 1 / 6 ;
    grid-row: 1 / 4;
}

#user-profile-2 {
    grid-column: 7 / 12;
    grid-row: 1 / 4;
}

#user-profile-3 {
    grid-column: 1 / 6;
    grid-row: 4 / 7;
}

#user-profile-4 {
    grid-column: 7 / 12;
    grid-row: 4 / 7;
}

/* create the menu grid */
.grid-container-menu-left {
    width: 20vw;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

/* define the button positions */
.menu-button:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.menu-button:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.menu-button:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}


/* define the button */
.menu-button {
    background-color: antiquewhite;
    border: none;
    padding: 10px 15px;
    margin: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}

/* define the icon */
.menu-button img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}    

/* user-story section*/
.user-stories {
    grid-column: 1 / 11;
    grid-row: 7 / 11;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-stories h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #478c48;
}

.story {
    margin-bottom: 30px;
}

.story h3 {
    color: #004d40;
    margin-bottom: 10px;
}

.story p {
    font-size: 16px;
    line-height: 1.5;
}
