body {
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    /* This ensures the body takes the full viewport height */
    }

   h1 {
    color: blueviolet;
    font-weight: 300;
   }
   
body {
    font-family: 'Poppins', sans-serif;
}

.home_page1 {
    width: 300px;
    height: 40vh;
    object-fit: cover;
    margin: 20px 0; 
    /* This will give some spacing above and below the image */
}

figcaption {
    color: grey;
    font-weight: 100;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #f5f5f5;
}

/* Resetting some default styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styling the navigation bar */
nav {
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav li a:hover {
    background-color: #eee;
}
