body {
    background-color: antiquewhite;
    background-image:url('../media/home_background.jpg');
    /* photo created by Appolinary Kalashnikova, from https://unsplash.com/photos/WYGhTLym344 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex; /* use flexbox for layout */
    flex-direction: column; /* arrange vertically */
    align-items: center; /* center horizontally */
    justify-content: center; /* center vertically */
    position: relative;
    height: auto; /* allow body to expand as needed */
    padding-bottom: 60px;
}

/* define the welcome slogan */
.welcome-text {
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: auto;
    padding-left: 5%;
}

.welcome-text h1 {
    font-size: 2em;
    color: #091104;
}

.welcome-text p {
    font-size: 1.5em;
    color: #091104;
}

/* wrapper for both menu and profiles grids */
.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* style the profiles grid */
.grid-container-profiles {
    width: 50vw; /* set width to 50% of viewport width */
    margin: 0 auto; /* center the grid horizontally */
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

/* define the profiles */
.user-profile {
    margin: 5px;
}

/* define the photos used in profiles */
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* define the position of user profiles */
#user-profile-1 {
    grid-column: 1 / 6; /* Span from column 1 to 6 */
    grid-row: 1 / 4;
}

#user-profile-2 {
    grid-column: 7 / 12;
    grid-row: 1 / 4;
}

#user-profile-3 {
    grid-column: 1 / 6;
    grid-row: 4 / 7;
}

#user-profile-4 {
    grid-column: 7 / 12;
    grid-row: 4 / 7;
}

/* style the menu-left grid */
.grid-container-menu-left {
    width: 20vw;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

/* define the button positions */
.menu-button:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.menu-button:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.menu-button:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}

/* define the button */
.menu-button {
    background-color: antiquewhite;
    border: none;
    padding: 10px 15px;
    margin: 0;
    cursor: pointer; /* set cursor to pointer on hover */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}

/* define the icon */
.menu-button img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}    

/* user-story section*/
.user-stories {
    grid-column: 1 / 11;
    grid-row: 7 / 11;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-stories h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #478c48;
}

.story {
    margin: 0 30px 30px 30px;
}

.story h3 {
    color: #004d40;
    margin-bottom: 10px;
}

.story p {
    font-size: 16px;
    line-height: 1.5;
}

/* for mobile screen */
@media only screen and (max-width: 768px) {
    .welcome-text h1 {
        font-size: 1.5em;
    }

    .welcome-text p {
        font-size: 1.2em;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .grid-container-profiles, .grid-container-menu-left {
        width: 90vw;
    }

    .menu-button img {
        height: 70px;
        width: 70px;
    }    

    .story p {
        font-size: 14px;
    }

    .grid-container-profiles {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    #user-profile-1, #user-profile-2, #user-profile-3, #user-profile-4 {
        grid-column: 1;
    }

    #user-profile-1 {
        grid-row: 1;
    }

    #user-profile-2 {
        grid-row: 2;
    }

    #user-profile-3 {
        grid-row: 3;
    }

    #user-profile-4 {
        grid-row: 4;
    }

    .grid-container-menu-left {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

/* for tablet and phones in landscape */
@media only screen and (min-width: 768px) and (max-width: 1194px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .grid-container-profiles, .grid-container-menu-left {
        width: 80vw; /* Adjusted width for better view */
    }

    .user-stories {
        width: 80vw; /* Adjusted width for better view */
    }

}